<!DOCTYPE html>

<html>
<head>
  <title>Compact Disc Organizer</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="cds.css">


</head>
<body>
  <div class= "spacing">

    <%= yield %>
  </div>
</body>
</html>
